<mat-card class="project-list-card">
  <div class="card-header">
    <button mat-stroked-button color="accent" (click)="goBack()">
      <mat-icon style="vertical-align: middle; position: relative; top: 0.8px; margin-right: 6px;">arrow_back</mat-icon>
      Back
    </button>

    <span class="title">Project List</span>

    <button mat-raised-button color="primary" (click)="goToNewProject()">
      + New Project
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 project-table">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let project">{{ project.title }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let project">{{ project.description }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</mat-card>